.bg {
  background-color: #6a38ca;
}
.text-color {
  color: #6a38ca;
}
.text-pink {
  color: #ffa5cc;
}



@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
  font-family: "Abril Fatface", serif;
  font-style: normal;
}
